---
layout: 'base.njk'
---

<section class="hero" style="background-image: url('{{ image }}');"></section>
        <main class="content bg-text-light post-content" id="main">
            <div class="tri bg-text-light">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="post-container content-container">
                <header class="post-header">
                    <h1 class="headline">{{ title }}</h1>
                    <div class="bylines">
                        <p>{{ date | postDate }}</p>
                        <p>By {{ author }}  in <a href="/posts/articles">Articles</a></p>
                    </div>
                </header>
                <section class="post-body">
                    {{ content | safe }}
                </section>
            </div>
        </main>