<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-`icon" type="image/png" href="/assets/favicons/favicon-180x180.png" sizes="180x180">
    <script src="https://kit.fontawesome.com/b1101e5655.js" crossorigin="anonymous"></script>
    {% if no_script %}
    {% else %}
        <script defer src="/assets/scripts/main.js"></script>
    {% endif %}
    {% if conditonal_voting %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var formCompleteValue = localStorage.getItem("formComplete");
                
                if (formCompleteValue === "true") {
                    window.location.replace("/modules/mock-election/results");
                };
            });
        </script>
    {% endif %}
    <title>{{ title }} | BALLOT BOX</title>
</head>
<body>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

</body>
</html>