---
layout: 'base.njk'
---
<main class="content">
    <div class="content-container">
        <div class="post-container">
            <header class="post-header">
                <h1>{{ title }}</h1>
            </header>
            <section class="post-body">
                {% if intro_text %}
                    <section id="intro" class="post-section box intro-text">
                        <div>
                            <figure class="float-left">
                                <img src="{{ intro_image.src }}" alt="{{ intro_image.alt }}">
                                <figcaption>{{ intro_image_caption }}<br><i>{{ intro_image_credit | safe }}</i></figcaption>
                            </figure>
                            <p>{{ intro_text }}</p>   
                        </div>
                    </section>
                    <div class="clear"></div>
                {% endif %}
                <section class="post-section">
                    <h3>Who's Running?</h3>
                    <p>Below is a list of all of the candidates who are officially registered to run in your electorates, with links to their sites where applicable.</p>   
                    <h3>What are their policies?</h3>
                    <p>There are many ways of finding out a candidate's policies. Many candidates hold events where you can meet and have a chat with them, which is a good way of finding out what they stand for. If they are party aligned, <a href="/2023-general-election/#party-info">their party's policies</a> are a good starting point.</p>
                    <p>You can also view your candidates' personal statements on <a href="{{ policynz_link }}" target="_blank">policy.nz</a>.</p>
                    {{ content | safe }}
                </section>
            </section>
        </div>
    </div>
</main>