<footer class="footer bg-secondary-medium">
    <div class="tri bg-secondary-medium" aria-hidden="true"></div>
    <div class="footer-grid-container">
        <nav>
            <ul role="list" class="nav-list">
                <li><a href="https://onslow.school.nz" title="Onslow College Website">onslow.school.nz</a></li>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/curriculum/lessons/" title="Music Lessons">Music Lessons</a></li>
                <li><a href="/events/" title="Events">Events</a></li>
                <li><a href="/contact/" title="Contact">Contact</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                <li><a href="#top" title="Back to top">Back to top</a></li>
            </ul>
        </nav>
        <div class="small-print">
            {{ footerText | safe }}
            <p>© Onslow College 2022</p>
        </div>
    </div>
</footer>
</div>