<footer>
    <nav class="footer-nav">
        <ul>
            <li><a href="/welcome-page/">Update your saved details</a></li>
            {%- for page in collections.footernav-%}
                <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
            {%- endfor -%}
            <li><a href="#top">Back to top</a></li>
            <li><a href="#" id="shielded-logo">
                <img alt="shielded" src="https://shielded.co.nz/img/custom-logo.png" height="60" width="60"></a>
            <script src="https://staticcdn.co.nz/embed/embed.js"></script>
            <script>
                (function () {
                    window.onload = function(){
                        var frameName = new ds07o6pcmkorn({
                            openElementId: "#shielded-logo",
                            modalID: "modal",
                        });
                        frameName.init();
                    }
                })();
            </script></li>
            <li>Icons from <a href="https://thenounproject.com">Noun Project</a></li>
        </ul>
    </nav>
</footer>
</div>