<div class="header-strip"><p>Please give me <a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=b8NN8k9U6Uic4kuk04rffLPggSlbKApDuW7vHF2O7LtUQkdBVFBNVzlSREJTUjA4REk3QlQxUTE0Si4u">some feedback!!!</a></p></div>
    <div class="grid-container" id="top">
        <header class="page-header">
            <nav class="primary-nav">
                <div class="mobile-menu-buttons">
                    <a href="/" class="title"><h1>Ballot Box</h1></a>
                    <button onclick="menuToggle()" id="menuButton" class="menu-toggle-button">
                        <div class="hamburger" aria-hidden="true"></div>
                        <span>Menu</span>
                    </button>
                </div>
                <div id="mobileMenuWrapper" class="mobile-menu-wrapper">
                    <ul id="navList" class="mobile-menu">
                        {%- for page in collections.mainnav-%}
                            <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
                        {%- endfor -%}
                        <li><a href="/electorates/" class="electoratelink">My Electorate</a></li>
                        <li>
                            <button onclick="myFunction(this)" class="dropdown-button">Modules</button>
                            <ul  id="myDropdown" class="dropdown-submenu">
                                {%- for page in collections.module -%}
                                    <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
                                {%- endfor -%}
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>