<div class="grid-container" id="top">
    <header class="page-header">
        <div class="focus-only-link"><a href="#main">Skip to main content</a></div>
        <a href="/" class="logo">
            <img src="/assets/images/onslow-logo.png" alt="Onslow College Emblem" class="onslow-emblem">
            <div class="logo-wordmark">
                <span>Onslow College</span>
                <span>Music</span>
            </div>
        </a>
        <button onclick="menuToggle()" id="menuButton" class="menu-toggle-button">
            <div class="hamburger" aria-hidden="true"></div>
            <span>Menu</span>
        </button>
        <nav id="primaryNav" class="primary-nav">
            <ul role="list" class="nav-list">
                <li><a href="/" title="Home">Home</a></li>
                <li>
                    <button onclick="myFunction(this)" class="dropdown-button">Learning and Teaching</button>
                    <ul  id="myDropdown" class="dropdown-submenu">
                        {%- for page in collections.Curriculum -%}
                            <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
                        {%- endfor -%}
                        <!-- remember to make caret turn upside down after pressed -->
                        <li><a href="/curriculum/junior-school/">Junior School</a></li>
                        <li><a href="/curriculum/senior-school/">Senior School</a></li>
                    </ul>
                </li>
                <li>
                    <button onclick="myFunction(this)" class="dropdown-button">Ensembles</button>
                    <ul  id="myDropdown" class="dropdown-submenu">
                        {%- for page in collections.Ensembles -%}
                            <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
                        {%- endfor -%}
                    </ul>
                </li>
                <li><a href="/posts/" title="Posts">Posts</a></li>
                <li><a href="/events/" title="Events">Events</a></li>
                <li><a href="/contact/" title="Contact">Contact</a></li>
            </ul>
        </nav>
    </header>   