---
layout: 'base.njk'
---
<main id="main" class="content">
    <div class="content-container {{ 'flex-centre' if flex_centre }}">
        <div class="post-container">
            <header class="post-header">
                <h1>{{ title }}</h1>
            </header>
            <section class="post-body">
                <div>
                    {{ content | safe }}
                </div>
            </section>
        </div>
    </div>
</main>