---
layout: 'base.njk'
---
<section class="hero hero-no-image"></section>
        <main class="content bg-text-light post-content" id="main">
            <div class="tri" aria-hidden="true"></div>
            <div class="post-container content-container">
                <header class="post-header">
                    <h1 class="headline">{{ title }}</h1>
                    <div class="bylines">
                        <p>{{ date | postDate }}</p>
                        <p>By {{ author }} in <a href="/posts/videos">Videos</a></p>
                    </div>
                </header>
                <section class="post-body">
                    {% if video %}
                    <div class="video-container">
                        <div class="video-embed-container">
                            <video class="video-embed" controls>
                                <source src="{{ video }}">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    {% endif %}
                    {{ content | safe }}
                </section>
            </div>
        </main>