---
title: Mock Election
layout: 'module.njk'
icon_image:
    src: assets/media/logo_stroke_fullcolour.svg
    alt: An icon of an orange ballot box
tags:
  - post
  - module
description: When you're ready to vote, participate in the mock election!
---
<section class="post-body">
    <p>Before you vote, you should familiarise yourself with <a href="/2023-general-election/">the various political parties</a> and <a href="/electorates/" class="electoratelink">candidates in your electorate</a> for this year.</p>
    <p>If you haven't already done the other modules, <a href="/">complete them first</a> before doing this one.</p>
    <p>When you feel ready to vote, hit the button. Just like the real election, you will only be able to vote once, so make it count!</p>
    <a href="/modules/mock-election/vote/" title="Vote" class="cta-button">Vote / View Results</a>
</section>
<nav class="post-section module-nav">
    <a class="cta-button" href="/modules/māori-representation/">< Previous Module</a>
    <a class="cta-button greyed-out">Next Module ></a>
</nav>