section {
    position: relative;
    --shape-fill: #bcff21;
}

p {
    margin: 0;
}

.shape {
    overflow: hidden;
    position: relative;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.shape-triangle {
    transform: rotate(180deg);
}

.shape-triangle svg {
    transform: rotateY(180deg);
    z-index: -1;
    display: block;
    position: relative;
}

.shape + div {
    margin-top: -1;
    background-color: var(--shape-fill);
}

.shape-fill {
    fill: var(--shape-fill);
}

