---
footerText: Calendar widget by <a href="https://fullcalendar.io">fullcalendar.io</a>, used under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/assets/scripts/script.js"></script>
    <script src="https://kit.fontawesome.com/b1101e5655.js" crossorigin="anonymous"></script>
    <link href="/events/fullcalendar/main.css" rel='stylesheet'>
    <script src="/events/fullcalendar/main.js"></script>
    <script>

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      initialDate: '2022-08-07',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: [
        {
          title: 'All Day Event',
          start: '2022-08-01'
        },
        {
          title: 'Long Event',
          start: '2022-08-07',
          end: '2022-08-10'
        },
        {
          groupId: '999',
          title: 'Studio Orchestra',
          url: '/ensembles/orchestra',
          start: '2022-08-11T15:30:00'
        },
        {
          groupId: '999',
          title: 'Studio Orchestra',
          url: '/ensembles/orchestra',
          start: '2022-08-18T15:30:00'
        },
        {
          title: 'Conference',
          start: '2022-08-11',
          end: '2022-08-13'
        },
        {
          title: 'Meeting',
          start: '2022-08-12T10:30:00',
          end: '2022-08-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2022-08-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2022-08-12T14:30:00'
        },
        {
          title: 'Birthday Party',
          start: '2022-08-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2022-08-28'
        }
      ]
    });

    calendar.render();
  });

    </script>
    <title>Events Test | Onslow College Music</title>
</head>
<body>
    {% include 'header.njk' %}
    <section class="hero" style="background-image: url('/assets/images/2014-australia-jumping.jpg');"></section>
    <!-- <section class="hero hero-no-image"></section> -->
        <main id="main" class="content">
                <div class="tri bg-text-light" aria-hidden="true"></div>
                <div class="post-container content-container">
                    <header class="post-header">
                        <h1 class="headline">Events Calendar</h1>
                    </header>
                    <section class="post-body">
                        <div id='calendar' class="calendar"></div>
                    </section>
                </div>
        </main>
    
        {% include 'footer.njk' %}
    
</body>
</html>