---
title: Studio Orchestra
image: /assets/images/sydney-trip-featured.png
layout: 'page.njk'
---
        
<p>The Onslow College Studio Orchestra meets every Thursday (during the term) after school in <a href="/contact#schoolmap">MS2</a>. We play all sorts of music, like jazz, film scores, big band songs and student composed music. Members of the orchestra also help at the school musicals, held every second year.</p>
<p>We perform at many school events, and go to out of school festivals and events, such as the <a target="_blank" href="https://www.musicworks.co.nz/mefa-home/">Musicworks Ensemble Festival</a> and music workshops held by the New Zealand School of Music. The orchestra has travelled to music festivals overseas, and we hope to restart these trips at some point in the future.</p>
<p>We're always looking for new players, no matter how much experience you may have. If you want to join, <a href="/contact#teachers">contact Justin</a>.</p>
                    