@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,700;1,700&family=Work+Sans:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
}

:root {
    --clr-primary-dark: #4E2966;
    --clr-primary-light: #D798FF;
    --clr-text-light: #fff;
    --clr-text-dark: #000;

    --page-header-height: 86.5px;
    --triangle-height: 100px;

    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Work Sans', sans-serif;
    --ff-body: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-body);
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template:
    "header header header" var(--page-header-height)
    "hero hero hero" calc(85vh - var(--page-header-height))
    "content content content"
    "footer footer footer";
}

p {
    padding-top: .75rem;
}

h1 {
    font-family: var(--ff-primary);
    font-size: 2.7rem;
}

a {
    text-decoration: none;
    color: var(--clr-text-dark);
}

a:focus {
    outline: 3px solid var(--clr-text-light);
}

img {
    max-width: 100%;
}

.page-header {
    display: grid;
    grid-area: header;
    grid-template:
    "logo nav" var(--page-header-height);
    background-color: var(--clr-primary-dark);
    color: var(--clr-text-light);
    font-family: var(--ff-secondary);
}

.page-header a {
    color: var(--clr-text-light);
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    font-family: var(--ff-primary);
    width: fit-content;
    margin: .3rem .3rem .3rem .5rem;
}

.logo:hover .logo-wordmark, .logo:focus .logo-wordmark {
    text-decoration: underline;
}

.logo .onslow-emblem {
    height: calc(var(--page-header-height) - 10px);
}

.logo-wordmark {
    color: white;
    flex-shrink: 1;
    height: var(--page-header-height);
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    min-height: fit-content;
    height: min-content;
    padding-left: .6rem;
    font-size: 1.3rem;
}

nav {
    grid-area: nav;
}

.nav-list {
    margin: 0;
    padding: 0;
    height: var(--page-header-height);
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-list li {
    padding-right: 1.6rem;
}

.nav-list li:first-child {
    padding-left: 1.6rem;
}

.nav-list li a {
    text-decoration: underline;
}

.nav-list li a:hover, .nav-list li a:focus {
    text-decoration: none;
}

.dropdown::after {
    display: inline-block;
    margin-left: .4rem;
    font: var(--fa-font-solid);
    content: "\f078";
}

.hero {
    grid-area: hero;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    margin: 0;
}

.content {
    grid-area: content;
}

.tri {
    margin: 0;
    position: relative;
    transform: rotate(180deg);
}

.tri::after {
    clip-path: polygon(0 0, 0 5.5rem, 120rem 0px);
    background-color: var(--clr-triangle);
    content: '';
    height: var(--triangle-height);
    position: absolute;
    top: 100%;
    width: 100%;
}

.tri-upside-down {
    margin: 0;
    position: relative;
    transform: rotate(180deg);
}

.tri-upside-down::after {
    transform: rotateX(180deg) rotateY(180deg);
    clip-path: polygon(0 0, 0 5.5rem, 120rem 0px);
    background-color: var(--clr-triangle);
    margin-top: calc(var(--triangle-height) * -1);
    content: '';
    height: var(--triangle-height);
    width: 100%;
    position: absolute;
}

.even-sections {
    display: grid;
    grid-template:
    "left right";
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.left, .right {
    padding: 1rem 2rem;
}

.left {
    grid-area: left;
}

.left img {
    float: left;
}

.right {
    grid-area: right;
}

.right img {
    float: right;
}

.tri-upside-down + section {
    padding-top: var(--triangle-height);
}

.bg-primary-light {
    background-color: var(--clr-primary-light);
    --clr-triangle: var(--clr-primary-light);
}

.bg-text-light {
    background-color: var(--clr-text-light);
    --clr-triangle: var(--clr-text-light);
}

.bg-text-dark {
    background-color: var(--clr-text-dark);
    --clr-triangle: var(--clr-text-dark);
}

.footer {
    grid-area: footer;
    background-color: blueviolet;
}