html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "header header header"
    "hero hero hero"
    "content content content"
    "footer footer footer";
    grid-template-rows: auto 40vh auto 20vh;
}

a {
    text-decoration: none;
}

.header {
    grid-area: header;
    grid-template-areas:
    "logo logo nav nav nav";
    background-color: aqua;
}

.logo {
    grid-area: logo;
}

.logo span {
    color: white;
}

.logo img {
    max-width: 100px;
}

.hero {
    grid-area: hero;
    background-color: red;
}

.content {
    grid-area: content;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: blueviolet;
}