:root {
    --clr-primary-dark: #4E2966;
    --clr-text-light: #fff;
    --clr-text-dark: #000;



    --header-height: 86.5px;



}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template:
    "header header header" var(--header-height)
    "hero hero hero"
    "content content content"
    "footer footer footer";
}

a {
    text-decoration: none;
    color: var(--clr-text-dark);
}

.page-header {
    display: grid;
    grid-area: header;
    grid-template:
    "logo . nav" var(--header-height);
    background-color: var(--clr-primary-dark);
    color: var(--clr-text-light);
}

.page-header a {
    color: var(--clr-text-light);
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    margin-left: .3rem;
}

.logo .onslow-emblem {
    height: var(--header-height);
}

.logo-wordmark {
    color: white;
    flex-shrink: 1;
    height: var(--header-height);
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    min-height: fit-content;
    height: min-content;
    padding-left: .6rem;
    font-size: 1.2rem;
}

nav {
    grid-area: nav;
}

.nav-list {
    margin: 0;
    height: var(--header-height);
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-list li {
    padding-right: 1.6rem;
}

.hero {
    grid-area: hero;
    background-color: red;
}

.content {
    grid-area: content;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: blueviolet;
}