---
title: Ōhāriu
layout: 'vote.njk'
---
<table class="candidates-table">
    <tr>
        <td class="radio"><input type="radio" id="paulday" name="candidate" value="paulday"></td>
        <td><label for="paulday">Paul Day<br><span class="sublabel">ACT New Zealand</span></label></td>
        <td class="party-logo"><label for="paulday"><img src="https://elections.nz/assets/Party-logos/the-act-party-logo-august-2019__ScaleWidthWzMwMF0.jpg" alt="The Act Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="jessicahammond" name="candidate" value="jessicahammond"></td>
        <td><label for="jessicahammond">Jessica Hammond<br><span class="sublabel">The Opportunities Party (TOP)</span></label></td>
        <td class="party-logo"><label for="jessicahammond"><img src="https://elections.nz/assets/Party-logos/TOP-Logo-300px-COLOUR-v2__ScaleWidthWzMwMF0.jpg" alt="The Opportunities Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="martinjenkins" name="candidate" value="martinjenkins"></td>
        <td><label for="martinjenkins">Martin Jenkins<br><span class="sublabel">Protect and Prosper New Zealand</span></label></td>
        <td class="party-logo"><label for="martinjenkins"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="patricklim" name="candidate" value="patricklim"></td>
        <td><label for="patricklim">Patrick Lim<br><span class="sublabel">Vision NZ (Freedoms New Zealand)</span></label></td>
        <td class="party-logo"><label for="patricklim"><img src="https://elections.nz/assets/Party-logos/Vision-New-Zealand-logo-October-2019.png" alt="The Vision NZ logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="gregoconnor" name="candidate" value="gregoconnor"></td>
        <td><label for="gregoconnor">Greg O'Connor<br><span class="sublabel">New Zealand Labour Party</span></label></td>
        <td class="party-logo"><label for="gregoconnor"><img src="https://elections.nz/assets/Party-logos/labour-party-logo-june-2016.jpg" alt="The New Zealand Labour Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="stephanierodgers" name="candidate" value="stephanierodgers"></td>
        <td><label for="stephanierodgers">Stephanie Rodgers<br><span class="sublabel">The Green Party of Aotearoa New Zealand</span></label></td>
        <td class="party-logo"><label for="stephanierodgers"><img src="https://elections.nz/assets/Party-logos/green-party-logo-june-2017.jpg" alt="The Green Party of Aotearoa New Zealand logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="nicolawillis" name="candidate" value="nicolawillis"></td>
        <td><label for="nicolawillis">Nicola Willis<br><span class="sublabel">The New Zealand National Party</span></label></td>
        <td class="party-logo"><label for="nicolawillis"><img src="https://elections.nz/assets/Party-logos/national-party-logo-june-2017.jpg" alt="The New Zealand National Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"></td>
        <td></td>
        <td class="party-logo"></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" required id="electorateabstain" name="candidate" value="electorateabstain"></td>
        <td><label for="electorateabstain">Abstain from electorate vote</label></td>
        <td class="party-logo"></td>
    </tr>
</table>