---
title: Te Tai Tonga
layout: 'vote.njk'
---
<table class="candidates-table">
    <tr>
        <td class="radio"><input type="radio" id="takutaferris" name="candidate" value="takutaferris"></td>
        <td><label for="takutaferris">Tākuta Ferris<br><span class="sublabel">Te Pāti Māori</span></label></td>
        <td class="party-logo"><label for="takutaferris"><img src="https://elections.nz/assets/Party-logos/maoti-party-logo-june-2017.jpg" alt="Te Pāti Māori logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="geoffreykarenafuimaonopuhi" name="candidate" value="geoffreykarenafuimaonopuhi"></td>
        <td><label for="geoffreykarenafuimaonopuhi">Geoffrey Karena Fuimaono Puhi<br><span class="sublabel">Independent</span></label></td>
        <td class="party-logo"><label for="geoffreykarenafuimaonopuhi"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="rebeccarobin" name="candidate" value="rebeccarobin"></td>
        <td><label for="rebeccarobin">Rebecca Rae Robyn<br><span class="sublabel">Aotearoa Legalise Cannabis Party</span></label></td>
        <td class="party-logo"><label for="rebeccarobin"><img src="https://elections.nz/assets/Party-logos/The-Cannabis-Party_270720__ScaleWidthWzMwMF0.jpg" alt="The Aotearoa Legalise Cannabis Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="rinotirikatene" name="candidate" value="rinotirikatene"></td>
        <td><label for="rinotirikatene">Rino Tirikatene<br><span class="sublabel">New Zealand Labour Party</span></label></td>
        <td class="party-logo"><label for="rinotirikatene"><img src="https://elections.nz/assets/Party-logos/labour-party-logo-june-2016.jpg" alt="The New Zealand Labour Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"></td>
        <td></td>
        <td class="party-logo"></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" required id="electorateabstain" name="candidate" value="electorateabstain"></td>
        <td><label for="electorateabstain">Abstain from electorate vote</label></td>
        <td class="party-logo"></td>
    </tr>
</table>