---
title: Wellington Central
layout: 'vote.njk'
---
<table class="candidates-table">
    <tr>
        <td class="radio"><input type="radio" id="nataliaalbert" name="candidate" value="nataliaalbert"></td>
        <td><label for="nataliaalbert">Natalia Albert<br><span class="sublabel">The Opportunities Party (TOP)</span></label></td>
        <td class="party-logo"><label for="nataliaalbert"><img src="https://elections.nz/assets/Party-logos/TOP-Logo-300px-COLOUR-v2__ScaleWidthWzMwMF0.jpg" alt="The Opportunities Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="michaelappleby" name="candidate" value="michaelappleby"></td>
        <td><label for="michaelappleby">Michael Appleby<br><span class="sublabel">Aotearoa Legalise Cannabis Party</span></label></td>
        <td class="party-logo"><label for="michaelappleby"><img src="https://elections.nz/assets/Party-logos/The-Cannabis-Party_270720__ScaleWidthWzMwMF0.jpg" alt="The Aotearoa Legalise Cannabis Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="taylorarneil" name="candidate" value="taylorarneil"></td>
        <td><label for="taylorarneil">Taylor Arneil<br><span class="sublabel">New Zealand First</span></label></td>
        <td class="party-logo"><label for="taylorarneil"><img src="https://elections.nz/assets/Party-logos/nz-first-logo-june-2017.jpg" alt="The New Zealand First logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="petebains" name="candidate" value="petebains"></td>
        <td><label for="petebains">Pete Bains<br><span class="sublabel">Independent</span></label></td>
        <td class="party-logo"><label for="petebains"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="donfranks" name="candidate" value="donfranks"></td>
        <td><label for="donfranks">Don Franks<br><span class="sublabel">Workers Now</span></label></td>
        <td class="party-logo"><label for="donfranks"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="karlthomasgeiringer" name="candidate" value="karlthomasgeiringer"></td>
        <td><label for="karlthomasgeiringer">Karl Thomas Geiringer<br><span class="sublabel">Independent</span></label></td>
        <td class="party-logo"><label for="karlthomasgeiringer"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="christophergordon" name="candidate" value="christophergordon"></td>
        <td><label for="christophergordon">Christopher Gordon<br><span class="sublabel">Animal Justice Party Aotearoa New Zealand</span></label></td>
        <td class="party-logo"><label for="christophergordon"><img src="https://elections.nz/assets/Party-logos/ANIMAL2__ScaleWidthWzMwMF0.JPG" alt="The Animal Justice Party Aotearoa New Zealand logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="meglim" name="candidate" value="meglim"></td>
        <td><label for="meglim">Meg Lim<br><span class="sublabel">Vision NZ (Freedoms New Zealand)</span></label></td>
        <td class="party-logo"><label for="meglim"><img src="https://elections.nz/assets/Party-logos/Vision-New-Zealand-logo-October-2019.png" alt="The Vision NZ logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="ibrahimomer" name="candidate" value="ibrahimomer"></td>
        <td><label for="ibrahimomer">Ibrahim Omer<br><span class="sublabel">New Zealand Labour Party</span></label></td>
        <td class="party-logo"><label for="ibrahimomer"><img src="https://elections.nz/assets/Party-logos/labour-party-logo-june-2016.jpg" alt="The New Zealand Labour Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="tamathapaul" name="candidate" value="tamathapaul"></td>
        <td><label for="tamathapaul">Tamatha Paul<br><span class="sublabel">The Green Party of Aotearoa New Zealand</span></label></td>
        <td class="party-logo"><label for="tamathapaul"><img src="https://elections.nz/assets/Party-logos/green-party-logo-june-2017.jpg" alt="The Green Party of Aotearoa New Zealand logo"></label></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" id="scottsheeran" name="candidate" value="scottsheeran"></td>
        <td><label for="scottsheeran">Scott Sheeran<br><span class="sublabel">The New Zealand National Party</span></label></td>
        <td class="party-logo"><label for="scottsheeran"><img src="https://elections.nz/assets/Party-logos/national-party-logo-june-2017.jpg" alt="The New Zealand National Party logo"></label></td>
    </tr>
    <tr>
        <td class="radio"></td>
        <td></td>
        <td class="party-logo"></td>
    </tr>
    <tr>
        <td class="radio"><input type="radio" required id="electorateabstain" name="candidate" value="electorateabstain"></td>
        <td><label for="electorateabstain">Abstain from electorate vote</label></td>
        <td class="party-logo"></td>
    </tr>
</table>