---
title: Posts
layout: 'base.njk'
---
        <section class="hero hero-no-image"></section>
        <main class="content bg-text-light post-content" id="main">
            <div class="tri" aria-hidden="true"></div>
            <div class="post-container content-container">
                <header class="post-header">
                    <h1 class="headline">{{ title }}</h1>
                </header>
                <section class="post-body">
                    <div class="post-card-container">

                        {%- for post in collections.post | reverse -%}

                            <a href="{{ post.url }}">
                                <section class="card card-full-width">
                                    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                                    <div class="post-card-text"><h2 class="card-title">{{ post.data.title }}</h2>
                                        <span class="card-date">{{ post.data.date | postDate }}</span>
                                        <p>{{ post.data.description }}</p>
                                    </div>
                                </section>
                            </a>

                        {%- endfor -%}
                    </div>
                </section>
            </div>
        </main>