---
title: Contact
layout: 'base.njk'
---
        <section class="hero" style="background-image: url('/assets/media/hero-contact.jpg');"></section>
        <main id="main" class="content">
                <div class="tri bg-text-light" aria-hidden="true"></div>
                <div class="post-container content-container">
                    <header class="post-header">
                        <h1 class="headline">Contact Us</h1>
                    </header>
                    <section class="post-body two-column">
                        <div class="left">
                            {%- for section in collections.Contact -%}
                                {% if section.data.align.includes("left") %}
                                    <h3 id="{{ section.data.id }}">{{ section.data.title }}</h3>
                                    <p>{{ section.data.description | safe }}</p>
                                {% endif %}
                            {%- endfor -%}
                        </div>
                        <div class="right">
                            {%- for section in collections.Contact -%}
                                {% if section.data.align.includes("right") %}
                                    <h3 id="{{ section.data.id }}"">{{ section.data.title }}</h3>
                                    <p>{{ section.data.description | safe }}</p>
                                {% endif %}
                            {%- endfor -%}
                        </div>                        
                    </section>
                </div>
        </main>