---
title: Contact
layout: 'base.njk'
---
        <section class="hero" style="background-image: url('/assets/images/hero-contact.jpg');"></section>
        <main id="main" class="content">
                <div class="tri bg-text-light" aria-hidden="true"></div>
                <div class="post-container content-container">
                    <header class="post-header">
                        <h1 class="headline">Contact Us</h1>
                    </header>
                    <section class="post-body two-column">
                        <div class="left">
                            {%- for section in collections.Contact -%}
                            <section class="homepage-about">
                                <div class="left">
                                    <h1>{{ section.data.title }}</h1>
                                    <p>{{ section.data.description | safe }}</p>
                                </div>
                            {%- endfor -%}
                            {%- for section in collections.Contact -%}
                                {%- if section.data.align.includes(left) -%}
                                    <h3>{{ section.data.title }}</h3>
                                    {{ section.description | safe }}
                                {%- endif -%}
                            {%- endfor -%}
                            <p>
                            Our school's main website: <a target="_blank" href="https://onslow.school.nz">onslow.school.nz</a>
                            </p>
                            <p>You can email our webmaster at <a href="mailto:stephen.clarke@student.onslow.school.nz">stephen.clarke@student.onslow.school.nz</a></p>
                            <h3 id="teachers">Email our teachers</h3>
                            <p>
                                Katherine Hodge: <a href="mailto:katherine.hodge@onslow.school.nz">katherine.hodge@onslow.school.nz</a>
                                <br>
                                Justin Pearce: <a href="mailto:justin.pearce@onslow.school.nz">justin.pearce@onslow.school.nz</a>
                            </p>
                        </div>
                        <div class="right">
                            {%- for section in collections.right  -%}
                                {{ section.data.content | safe }}
                            {%- endfor -%}
                            <h3 id="schoolmap">School Map</h3>
                            <p>You can generally find us around MS1 and MS2, behind the hall.</p>
                            <a href="/assets/images/OC-map.png" title="View a larger version of the map"><img src="/assets/images/OC-map.png" alt="A map of Onslow College"></a>
                            <h3>Find us</h3>
                            <p>Our address is:<br>Burma Road, Johnsonville, Wellington<br>New Zealand</p>
                            <div class="map-container">
                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=174.7905707359314%2C-41.23375187633464%2C174.80473279953006%2C-41.22648993841847&amp;layer=mapnik&amp;marker=-41.230121008203454%2C174.7976517677307" style="border: 1px solid black"></iframe>
                            </div>
                            <p><a target="_blank" href="https://goo.gl/maps/PNkmpChp47Kjp1X3A">Get directions to the school (Google Maps)</a></p>
                            <h3>Enrolment at Onslow</h3>
                            <p>You can enrol on <a href="https://www.onslow.school.nz/enrolment/">the school's enrolment page</a></p>
                        </div>                        
                    </section>
                </div>
        </main>