---
footerText: Calendar widget by <a href="https://fullcalendar.io">fullcalendar.io</a>, used under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/assets/scripts/script.js"></script>
    <script src="https://kit.fontawesome.com/b1101e5655.js" crossorigin="anonymous"></script>
    <link href="/events/fullcalendar/main.css" rel='stylesheet'>
    <script src="/events/fullcalendar/main.js"></script>
    <script>

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      timeZone: 'Pacific/Auckland',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: [
        {
          title: 'All Day Event',
          start: '2022-08-01'
        },
        {
          groupId: 'Orchestra', // recurrent events in this group move together
          daysOfWeek: [ '4' ],
          startTime: '15:30:00',
          endTime: '16:35:00',
          title: 'Studio Orchestra',
          url: '/ensembles/orchestra',
          startRecur: '2022-10-17',
          endRecur: '2022-11-04'
        },
        {
          groupId: 'Choir', // recurrent events in this group move together
          daysOfWeek: [ '1' ],
          startTime: '13:15:00',
          endTime: '14:10:00',
          title: 'Choir',
          url: '/ensembles/choir',
          startRecur: '2022-10-17',
          endRecur: '2022-11-04'
        },
        {
          title: 'Oliver Performance Week',
          start: '2023-03-29',
          end: '2023-04-02',
          url: '/events/oliver'
        },
        {
          title: 'Music Camp',
          start: '2023-02-15',
          end: '2023-02-18',
          url: '/events/music-camp'
        }
      ]
    });

    calendar.render();
  });

    </script>
    <title>Events | Onslow College Music</title>
</head>
<body>
    {% include 'header.njk' %}
    <section class="hero" style="background-image: url('/assets/images/2014-australia-jumping.jpg');"></section>
    <!-- <section class="hero hero-no-image"></section> -->
        <main id="main" class="content">
                <div class="tri bg-text-light" aria-hidden="true"></div>
                <div class="post-container content-container">
                    <header class="post-header">
                        <h1 class="headline">Events Calendar</h1>
                    </header>
                    <section class="post-body">
                        <div id='calendar' class="calendar"></div>
                    </section>
                </div>
        </main>
    
        {% include 'footer.njk' %}
    
</body>
</html>