---
title: Home
layout: 'base.njk'
---
<main class="content">
    <div class="content-container flex-centre">
        <div class="card-container">
            {%- for post in collections.module | sortByOrder -%}
                <a href="{{ post.url }}">
                    <section class="card ">
                        <div class="card-img-container">
                            <img src="{{ post.data.icon_image.src }}" alt="{{ post.data.icon_image.alt }}">
                        </div>
                        <div class="card-content">
                            <h2>{{ post.data.title }}</h2>
                            <p>{{ post.data.description }}</p>
                        </div>
                    </section>
                </a>
            {%- endfor -%}
        </div>
    </div>
</main>
