---
title: Home
layout: 'base.njk'
---

        <section class="hero hero-homepage" style="background-image: url('/assets/images/hero-purple.jpg');"></section>
        <main id="main" class="content">
            
                <div class="tri bg-primary-light" aria-hidden="true"></div>
                <div class="content-container bg-primary-light">
                    {%- for section in collections.Homepage  -%}
                            <section class="homepage-about">
                                <div class="left">
                                    <h1>{{ section.data.title }}</h1>
                                    <p>{{ section.data.description | safe }}</p>
                                </div>
                                <div class="right">
                                    <img src="{{ section.data.image }}" alt="{{ section.data.imageAlt }}">
                                </div>
                    {%- endfor -%}
                    </section>
                </div>
                <div class="bg-primary-light tri-upside-down" aria-hidden="true"></div>
                <div class="content-container">
                    <section id="news" class="featured-cards">
                        <h1>Latest News</h1>
                        <div class="card-container">
                            {%- for post in collections.article | reverse -%}
                                {%- if loop.index0 < 3 %}
                                    <a href="{{ post.url }}">
                                        <section class="card bg-secondary-light">
                                            <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                                            <h2 class="card-title">{{ post.data.title }}</h2>
                                            <span class="card-date">{{ post.data.date | postDate }}</span>
                                            <p>{{ post.data.description }}</p>
                                        </section>
                                    </a>
                                {%- endif %}
                            {%- endfor -%}
                        </div>
                    </section>
                    <section id="videos" class="featured-cards">
                        <h1>Latest Videos</h1>
                        <div class="card-container">
                            {%- for post in collections.video | reverse -%}
                                {%- if loop.index0 < 3 %}
                                    <a href="{{ post.url }}">
                                        <section class="card bg-secondary-light">
                                            <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                                            <h2 class="card-title">{{ post.data.title }}</h2>
                                            <span class="card-date">{{ post.data.date | postDate }}</span>
                                        </section>
                                    </a>
                                {%- endif %}
                            {%- endfor -%}
                        </div>
                    </section>
                    <section id="curriculum" class="featured-cards link-cards">
                        <h1>Learning and Teaching</h1>
                        <div class="card-container">
                            <a href="/curriculum/junior-school/">
                                <section class="card bg-secondary-light">
                                    <div>
                                        <h2 class="card-title">Junior School</h2>
                                        <span>Year 9 - 10</span>
                                    </div>
                                </section>
                            </a>
                            <a href="/curriculum/senior-school/">
                                <section class="card bg-secondary-light">
                                    <div>
                                        <h2 class="card-title">Senior School</h2>
                                        <span>Year 11 - 13</span>
                                    </div>
                                </section>
                            </a>
                            <a href="/curriculum/lessons/">
                                <section class="card bg-secondary-light">
                                    <div>
                                        <h2 class="card-title">Music Lessons</h2>
                                        <span>Extra-curricular</span>
                                    </div>
                                </section>
                            </a>
                        </div>
                    </section>
                    <section id="ensembles" class="featured-cards img-card-no-article">
                        <h1>Ensembles</h1>
                        <div class="card-container">
                            <a href="/ensembles/choir/">
                                <section class="card bg-secondary-light">
                                    <img src="/assets/images/chamber-choir-featured.png" alt="The Onslow College Chamber Choir pictured while performing in a church">
                                    <h2 class="card-title">Choir</h2>
                                </section>
                            </a>
                            <a href="/ensembles/orchestra/">
                                <section class="card bg-secondary-light">
                                    <img src="/assets/images/sydney-trip-featured.png" alt="The Onslow College Orchestra pictured in front of the Sydney Opera House">
                                    <h2 class="card-title">Orchestra</h2>
                                </section>
                            </a>
                        </div>
                    </section>
                </div>
        </main>
        
