---
title: Privacy Policy
layout: 'base.njk'
---
        <section class="hero hero-no-image bg-text-light"></section>
        <main id="main" class="content">
                <div class="tri bg-text-light" aria-hidden="true"></div>
                <div class="post-container content-container">
                    <header class="post-header">
                        <h1 class="headline">Privacy Policy</h1>
                    </header>
                    <section class="post-body small-paragraphs">
                        <p>We may collect personal information from you, including information about your:</p>
                        <ul>
                            <li>Name</li>
                            <li>Email address</li>
                        </ul>
                        <p>We collect your personal information in order to feature your work on the website, and <b>we will only ever ask you for this information if we need it.</b></p>
                        <p>We <b>do not</b> use cookies on this website.</p>
                        <p>We keep your information safe by storing it in encrypted places and only allowing the music teachers to access it.</p>
                        <p>We may use tools from Microsoft and Google on our website. We will always make sure you know when you are using their services.</p>
                        <p>You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong.<br>If you’d like to ask for a copy of your information, or to have it corrected, please contact us at <b><a href="mailto:stephen.clarke@student.onslow.school.nz">stephen.clarke@student.onslow.school.nz</a></b>.</p>
                    </section>
                </div>
        </main>
