@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,700;1,700&family=Work+Sans:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-dark: #63337a;
    --clr-primary-light: #E7C1FF; /*#D798FF */
    --clr-secondary-dark: #3D52D5;
    --clr-secondary-medium: #6A7DF8;
    --clr-secondary-light: #CBEAFF;
    --clr-text-light: #fff;
    --clr-text-dark: #000;

    --page-header-height: 86.5px;
    --triangle-height: 30px;

    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Work Sans', sans-serif;
    --ff-body: 'Poppins', sans-serif;

    --fs-400: 1rem;
    --fs-600: 2.35rem;
    --fs-800: 2.7rem;

    --fw-300: 300;

    --page-side-padding: 5vw;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-body);
    scroll-behavior: smooth;
    font-size: 17px;
    overflow-x: hidden;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    min-height: 100vh;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template:
    "header header header" var(--page-header-height)
    "hero hero hero"
    "content content content"  
    "footer footer footer" min-content;
}

p {
    padding: .75rem 0;
}

h1 {
    font-family: var(--ff-primary);
    font-size: var(--fs-800);
}

h2 {
    font-family: var(--ff-secondary);
    font-size: var(--fs-600);
}

a {
    text-decoration: underline;
    color: var(--clr-text-dark);
    display: inline-block;
}

.featured-cards a {
    text-decoration: none;
}

.featured-cards a:focus-visible  {
    outline: none;
}

.featured-cards a:focus-visible .card {
    outline: 3px solid var(--clr-text-dark);
}

footer a:focus-visible {
    outline: 3px solid var(--clr-text-light);
}

a:hover {
    text-decoration: none;
}

a:focus-visible {
    outline: 3px solid var(--clr-text-dark);
    text-decoration: none;
}

button:focus-visible {
    outline: 3px solid var(--clr-text-dark);
    text-decoration: none;

}

img {
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    font-family: var(--ff-secondary);
    padding: 0;
    cursor: pointer;
}

button:hover,
button:focus-visible {
    text-decoration: none;
}

.focus-only-link {
    margin-left: .5rem;
    display: flex;
    top: -10000px;
    position: absolute;
    background-color: var(--clr-primary-dark);
    height: var(--page-header-height);
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.focus-only-link:focus-within {
    top: 0;
    outline: 3px solid var(--clr-text-light);
}

.focus-only-link a:focus-visible,
.focus-only-link a:focus {
    outline: 0 !important;
    text-decoration: underline !important;
}

.page-header {
    display: grid;
    grid-area: header;
    grid-template:
    "logo nav" var(--page-header-height);
    color: var(--clr-text-light);
    font-family: var(--ff-secondary);
    background-color: var(--clr-primary-dark);
    --clr-bg-dropdown-submenu: var(--clr-text-light);
    --clr-text-dropdown-submenu: var(--clr-primary-dark);
}

.page-header a {
    color: var(--clr-text-light);
}

.page-header a:focus-visible,
.page-header button:focus-visible {
    outline: 3px solid var(--clr-text-light);
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    font-family: var(--ff-primary);
    width: fit-content;
    margin: .3rem .3rem .3rem .5rem;
    text-decoration: none;
}

.logo:hover .logo-wordmark, .logo:focus-visible .logo-wordmark {
    text-decoration: underline;
}

.logo .onslow-emblem {
    height: calc(var(--page-header-height) - 10px);
}

.logo-wordmark {
    flex-shrink: 1;
    height: var(--page-header-height);
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    min-height: fit-content;
    height: min-content;
    padding-left: .6rem;
    font-size: 1.3rem;
}

.menu-toggle-button {
    grid-area: menu-button;
    display: none;
    color: var(--clr-text-light);
    text-decoration: underline;
    justify-self: right;
    font-size: 1rem;
    gap: 1rem;
    grid-template:
    "icon"
    "text";
    text-align: center;
    margin-right: 1.5rem;
    height: var(--page-header-height);
    padding: 1rem 1rem .5rem 1rem;
}

.hamburger {
    grid-area: icon;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background-color: var(--clr-text-light);
    height: 3px;
    width: 3rem;
    border-radius: 3px;    
}

.hamburger::before {
    transform: translateY(1rem);
    opacity: 0;
}

.hamburger::after {
    transform: translateY(.75rem);
}

.menu-toggle-button span {
    grid-area: text;
    text-align: center;
    font-size: var(--fs-300);
}

.menu-toggle-open {
    grid-template:
    "icon";
    padding-top: 2rem;
    gap: 0;
}

.menu-toggle-open span {
    display: none;
}

.menu-toggle-open .hamburger {
    transform: rotate(45deg);
}

.menu-toggle-open .hamburger::before {
    opacity: 0;
}

.menu-toggle-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }

nav {
    grid-area: nav;
}

.primary-nav--open {
    display: block;
}

.primary-nav .active-link {
    text-decoration: none;
}

.nav-list {
    margin: 0;
    padding: 0;
    height: var(--page-header-height);
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-list li {
    padding-right: 1.6rem;
}

.nav-list li:first-child {
    padding-left: 1.6rem;
}

.nav-list li a {
    text-decoration: underline;
}

.nav-list li a:hover, .nav-list li a:focus-visible {
    text-decoration: none;
}

.dropdown-button {
    position: relative;
    background: none;
    border: 0;
    font-family: var(--ff-secondary);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
    color: var(--clr-text-light);
}

.dropdown-button:hover {
    text-decoration: none;
}

.dropdown-button::after {
    display: inline-block;
    margin-left: .4rem;
    font: var(--fa-font-solid);
    content: "\f078";
}

.dropdown-submenu {
    position: absolute;
    list-style-type: none;
    display: none;
    flex-direction: column;
    margin: 1em 0 0 0;
    padding: .5rem 1rem;
    gap: 1em;
    width: max-content;
    justify-content: center;
    background-color: var(--clr-bg-dropdown-submenu);
}

.dropdown-submenu li {
    padding: 0;
    color: var(--clr-text-dropdown-submenu);
}

.dropdown-submenu li:first-child {
    padding-left: 0;
}

.dropdown-submenu a {
    color: var(--clr-text-dropdown-submenu);
}

.dropdown-submenu a:focus-visible {
    outline: 3px solid var(--clr-text-dropdown-submenu);;
}

.hero {
    grid-area: hero;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--clr-secondary-light);
    background-position: 50% 50%;
    overflow: hidden;
    margin: 0;
    height:  calc(70vh - var(--page-header-height));
    max-height: 700px;
    min-height: 200px;
}

.hero-no-image {
    height: 2rem;
    min-height: 2rem;
    background-color: var(--clr-text-light);
}

.hero-no-image + main .tri {
    --triangle-height: 0;
}

.content {
    grid-area: content;
    padding-bottom: var(--triangle-height);
    position: relative;
}

.content-container > * {
    margin: 0 auto;
    max-width: 1314px;
}

.tri {
    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background: none !important;
    position: relative;
    margin: 0;
    max-width: 100vw;
    /* margin: 0;
    position: relative;
    transform: rotate(180deg); */
}

.tri svg {
    position: relative;
    display: block;
    width: 100vw;
    height: 64px;
    transform: rotateY(180deg);
    overflow: hidden;
    width: calc(100% + 1.3px);
}

.tri .shape-fill {
    fill: var(--clr-triangle);
}

/* .tri::after {
    clip-path: polygon(0 0, 0 5.5rem, 120rem 0px);
    background-color: var(--clr-triangle);
    content: '';
    height: var(--triangle-height);
    position: absolute;
    top: 100%;
    width: 100%;
} */

.tri-upside-down {
    margin: 0;
    position: relative;
    transform: rotate(180deg);
}

.tri-upside-down::after {
    transform: rotateX(180deg) rotateY(180deg);
    clip-path: polygon(0 0, 0 5.5rem, 120rem 0px);
    background-color: var(--clr-triangle);
    margin-top: calc(var(--triangle-height) * -1);
    content: '';
    height: var(--triangle-height);
    width: 100%;
    top: 100%;
    position: absolute;
}

.post-container {
    padding-left: var(--page-side-padding);
    padding-right: var(--page-side-padding);
    padding-top: 1.5rem;
}

/* .post-header {

}

.headline {

}

.bylines {

} */

.bylines p {
    padding: .1rem 0;
}

.post-body {
    padding: 1.5rem 0;
}

/* .post-body img {
    max-width: 500px;
} */

.img-container {
    margin: 1rem;
    float: right;
    display: flex;
    flex-direction: column; 
}

.centre .img-container {
    margin: 0;
    float: none;
}

.img-caption {
    padding-top: .5rem;
    font-size: .8rem;
    margin-top: 0;
}

.centre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centre img {
    margin: 0;
    max-height: 739.125px;
}

.small-paragraphs p {
    padding: 0.7rem 0;
}

.small-paragraphs {
    padding-bottom: 1rem;
}

.cta-button {
    cursor: pointer;
    background-color: var(--clr-primary-dark);
    color: var(--clr-text-light);
    margin-top: 1rem;
    padding: 1rem;
}

form p {
    padding: 0;
}

.form-container {
    max-width: 870px;
    height: 955px;
}

.form-container iframe {
    width: 100%;
    height: 100%;
}

.video-embed-container {
    margin-top: 1rem;
    width:  100%;
    aspect-ratio: 16/9;
    position: relative;
}

.video-embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.calendar {
    font-family: var(--ff-body);
}

.calendar a {
    text-decoration: none;
}

.calendar .fc-h-event {
    border-color: var(--clr-secondary-dark) !important;
    background-color: var(--clr-secondary-dark) !important;
}

.calendar .fc-h-event .fc-event-main {
    color: var(--clr-text-light) !important;
}

.calendar .fc-daygrid-event-dot {
    border-color: var(--clr-secondary-dark) !important;
}

.calendar .fc-header-toolbar {
    flex-wrap: wrap;
}

.calendar .fc-button {
    background-color: var(--clr-primary-dark) !important;
    color: var(--clr-text-light) !important;
    border: none !important;
}

.calendar .fc-button-active {
    background: var(--clr-text-light) !important;
    color: var(--clr-primary-dark) !important;
    border-color: var(--clr-primary-dark) !important;
    border: 1px solid var(--clr-primary-dark) !important;
}

.calendar .fc-button:hover {
    background-color: var(--clr-text-light) !important;
    color: var(--clr-primary-dark) !important;
}

.calendar .fc-button:focus {
    box-shadow: none !important;
    outline: 3px solid var(--clr-text-dark) !important;
    background-color: var(--clr-text-light) !important;
    color: var(--clr-primary-dark) !important;
}

.calendar .fc-event-title,
.calendar .fc-event-time {
    padding: 0 1px;
    white-space: normal;
}

.map-container {
    aspect-ratio: 1/1;
    width: calc(100vw - (var(--page-side-padding * 4)));
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.homepage-about, .two-column {
    display: grid;
    grid-template:
    "left right";
    grid-auto-columns: minmax(0, 1fr);
}

.homepage-about p {
    padding-top: 1rem;
}

.homepage-about .left, .homepage-about .right {
    padding: 1rem var(--page-side-padding);
}

.left {
    grid-area: left;
    padding-right: var(--page-side-padding);
}

.left img {
    float: left;
}

.right {
    grid-area: right;
    padding-left: var(--page-side-padding);
}

.right img {
    float: right;
}

.tri-upside-down + .content-container {
    padding-top: calc(var(--triangle-height) + 1rem);
}

.tri + section {
    margin-top: -64px;
}

.tri + .footer-grid-container {
    margin-top: -64px;
}

.featured-cards {
    padding: 1rem var(--page-side-padding);
    display: grid;
    grid-template:
    ". title ." 
    "card card card";
}

.link-cards {
    flex-wrap: wrap;
}

.featured-cards h1 {
    grid-area: title;
    color: var(--clr-secondary-dark);
    padding-bottom: 2rem;
    text-align: center;
}

.post-card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-card-container .card:last-child {
    padding-bottom: 0;
}

.post-card-container .card {
    background-color: var(--clr-text-light);
    display: grid;
    grid-template:
    "text . image" / 5fr 1fr 5fr;
}

.post-card-container a {
    text-decoration: none;
}

.post-card-container .card-title {
    font-size: 1.5rem;
}

.post-card-container .card img {
    grid-area: image;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: none;
}

.post-card-text {
    grid-area: text;
}

.card-container {
    grid-area: card;
    display: flex;
    gap: max(5vw, 3rem);  
}

.card-container > a {
    flex: 1;
}

.link-cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/0.4;
    text-align: center;
    padding: calc(var(--card-padding) * 3) 0 calc(var(--card-padding) * 3) 0;
}

.img-card-no-article .card {
    text-align: center;
    aspect-ratio: 1/0.4;
}

.img-card-no-article .card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card {
    --card-padding: .5rem;
}

.card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card-title {
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
}

a:focus-visible .card {
    outline: 3px solid #000;
}

a .card-title {
    text-decoration: underline;
}

a:hover .card-title, a:focus-visible .card-title {
    text-decoration: none;
}

.card-date {
    display:inline-block;
    margin-left: var(--card-padding);
    margin-top: calc(var(--card-padding) * 1.25);
    font-weight: var(--fw-300);
}

.card p {
    padding: calc(var(--card-padding) * 1.7) var(--card-padding) 0;
}

.card:last-child {
    padding-bottom: calc(var(--card-padding) * 2);
}

.bg-primary-dark {
    background-color: var(--clr-primary-dark);
    --clr-triangle: var(--clr-primary-dark);
}

.bg-primary-light {
    background-color: var(--clr-primary-light);
    --clr-triangle: var(--clr-primary-light);
}

.bg-text-light {
    background-color: var(--clr-text-light);
    --clr-triangle: var(--clr-text-light);
}

.bg-text-dark {
    background-color: var(--clr-text-dark);
    --clr-triangle: var(--clr-text-dark);
}

.bg-secondary-dark {
    background-color: var(--clr-secondary-dark);
    --clr-triangle: var(--clr-secondary-dark);
}

.bg-secondary-medium {
    background-color: var(--clr-secondary-medium);
    --clr-triangle: var(--clr-secondary-medium);
}

.bg-secondary-light {
    background-color: var(--clr-secondary-light);
    --clr-triangle: var(--clr-secondary-light);
}

.dropdown-visible {
    display: flex;
}

.hidden {
    display: none;
}

.hidden-until-mobile {
    display: none;
}

footer {
    grid-area: footer;
    color: var(--clr-text-light);
    padding-bottom: 1.6rem;
    --clr-bg-dropdown-submenu: var(--clr-text-light);
    --clr-text-dropdown-submenu: var(--clr-secondary-dark);
}

.footer-grid-container {
    display: grid;
    grid-template:
    "nav small-print" / 1fr 1fr;
    padding-left: var(--page-side-padding);
    padding-right: var(--page-side-padding);
}

footer .nav-list {
    justify-content: center;
    font-family: var(--ff-secondary);
    flex-wrap: wrap;
}

footer a {
    color: var(--clr-text-light);
    text-decoration: underline;
}

.small-print {
    grid-area: small-print;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.small-print p {
    padding: 0;
}

@media screen and (min-width: 2561px) {
    .page-header {
        padding: 0 calc((100vw - 2560px) / 2);
    }   

    .hero {
        max-height: 441.2px;
    }

}


@media screen and (min-width: 1999px) {
    :root {
        --page-side-padding: 90px;
    }

    .card-container {
        gap: 100px;
    }
}

@media screen and (min-width: 1931px) {
    /* :root {
        --triangle-height: 0px;
    }     */

    .hero-no-image {
        height: 4rem;
    }

    html {
        font-size: 20px;
    }

    .tri-upside-down + section {
        padding-top: 6rem;
    }
}

@media screen and (min-width: 1584px) {

    .homepage-about {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 979px) {
    .homepage-about,
    .two-column {
        grid-template:
        "left"
        "right";
    }

    .hero {
        max-height: 338px;
    }

    .hero-homepage {
        max-height: 400px;
    }

    .left,
    .right {
        display: grid;
        padding: 0;
    }

    .homepage-about img, .two-column img {
        float: none;
        justify-self: center;
    }

    .map-container {
        aspect-ratio: 8/5;
    }
    

}

@media screen and (max-width: 975px) {

    .featured-cards {
    grid-template:
    "title title title"
    "card card card";
    overflow: hidden;
    }

    .featured-cards h1 {
        text-align: center;
    }
    
    .card-container a:last-of-type {
        display: none;
    }

    .link-cards .card-container a:last-of-type, .img-card-no-article .card-container a:last-of-type {
        display: block;
    }
}

@media screen and (max-width: 904px) {
    .footer-grid-container {
        grid-template:
        "nav"
        "small-print";
        gap: 1rem;
    }

    footer {
        position: relative;
    }

    footer .small-print {
        text-align: center;
    }

    footer .nav-list {
        justify-content: center;
        flex-direction: column;
        gap: .45rem;
        height: auto;
        padding: 1rem 0;
    }

    footer .nav-list li {
        padding: .45rem 0;
    }

    footer .nav-list li:first-child {
        padding-left: 0;
    }
}

@media screen and (max-width: 1158px) {

    /* :root {
        --triangle-height: 100px;
    } */

    .grid-container {
        display: grid;
        grid-template:
        "header header header" var(--page-header-height)
        "hero hero hero"
        "content content content"
        "footer footer footer";
    }

    /* .hero {
        height: calc(40vh - var(--page-header-height));
    } */

    .page-header {
        grid-template:
        "logo menu-button" var(--page-header-height);
        align-items: center;
    }

    .logo-wordmark {
        font-size: max(15px, 2.3vw);
    }

    .menu-toggle-button {
        display: grid;
    }

    .primary-nav {
        position: absolute;
        grid-area: none;
        top: 0;
        width: 100%;
        margin-top: var(--page-header-height);
        z-index: 10000;
        display: none;
    }

    .hidden-until-mobile {
        display: block;
    }

    .primary-nav .nav-list {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        background-color: var(--clr-primary-dark);
        height: 100%;
        gap: 1rem;
        text-align: center;
    }

    .dropdown-button::after {
        position: absolute;
    }

    .primary-nav li {
        padding: 1rem;
    }

    .primary-nav a {
        padding: 1rem;
    }

    .primary-nav button {
        padding: 1rem;
    }

    .primary-nav li:first-child {
        padding: 1rem;
    }

    .dropdown-submenu {
        position: relative;
    }

    .mobile-menu-open {
        display: flex;
    }

    /* .mobile-menu-open .nav-list li:last-of-type {
        padding-bottom: 2rem;
    } */

    /* .mobile-menu-open a,
    .mobile-menu-open button {
        padding: 1rem;
    } */

    html {
    font-size: 17px;
    }
    
    
    
}

@media screen and (max-width: 855px) {
    .post-card-container .card {
        grid-template: "image" "text";
        gap: 1rem;
    }

    .post-card-container .card-title {
        margin: 0;
        padding: 0;
    }

    .post-card-container .card-date {
        margin-left: 0;
    }

    .post-card-container .post-card-text p {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 849px) {
    .post-body img {
        max-width: 500px;
    }
}

@media screen and (max-width: 849px) {
    .logo .onslow-emblem {
        height: calc(var(--page-header-height) - 30px);

    }

    .img-container {
        margin: 0 .5rem 0 .5rem;
    }

    .post-body img {
        margin: 0;
        width: calc(100vw - (var(--page-side-padding) * 2));
        justify-self: center;
    }
}

@media screen and (max-width: 717px) {
    .link-cards .card-container {
        gap: 3rem;
        flex-direction: column;
        align-items: center;
    }

    .link-cards .card-container .card {
        max-width: 370px;
    }
}

@media screen and (max-width: 685px) {
    .calendar .fc-toolbar {
        display: grid !important;
        grid-template:
        "calendar-title calendar-title"
        "calendar-week-select calendar-type-select"
        !important;
    }

    .calendar .fc-toolbar-chunk:nth-of-type(1) {
        grid-area: calendar-week-select;
    }

    .calendar .fc-toolbar-chunk:nth-of-type(2) {
        grid-area: calendar-title;
    }

    .calendar .fc-toolbar-chunk:nth-of-type(2) {
        grid-area: calendar-type-select;
    }
}

@media screen and (max-width: 641px) {
    .tri::after {
        clip-path: polygon(0 0, 0 2rem, 39rem 0px);
    }

    .hero {
        max-height: 200px;
    }

    .hero-homepage {
        max-height: 400px;
    }
}

@media screen and (max-width: 612px) {
    .card-container {
        flex-direction: column;
    }

    .card-container a {
        width: auto;
    }
}

@media screen and (max-width: 510px) {
    .map-container{
        aspect-ratio: 1/1;
        width: calc(95vw - (var(--page-side-padding) * 2));
    }
}